<div class="row">
  <div class="col-md-3" id="registerForm">
    <h3>Register Form</h3>
    <form>
      <div class="form-group">
        <label for="name">Email address</label>
        <input type="text" name="name" [(ngModel)]="userDetail.name" class="form-control" id="name" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" [(ngModel)]="userDetail.email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="userDetail.password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
    </form>
  </div>
</div>

